@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Resource Not Found";
}

<hgroup class="title">
    <h1 class="error">Error Not Found.</h1>
    <h2 class="error">Unable to service your request.  The resource you are looking for cannot be found.</h2>
</hgroup>