@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Authorisation Error";
}

<hgroup class="title">
    <h1 class="error">Authorisation Error.</h1>
    <h2 class="error">You are not authorised to access this resource.</h2>
</hgroup>
