@using THSurveys.Helpers

@model IEnumerable<THSurveys.Models.Home.SurveyResponsesViewModel>

<table>

@foreach (var item in Model) {
    <tr>
        <td>
            @*Custom Html Helper Class to inject a groupId into the name attribute of the rendered radio button, so
                multiple groups of radio buttons can be displayed on the form*@
            @Html.RadioButtonListFor(modelitem => item.LikertScaleNumber, item.LikertScaleNumber, item.QId_SeqNo.ToString(), item.Answer, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>

    </tr>
}

</table>
