@model IEnumerable<THSurveys.Models.SurveySummaryViewModel>
@{
    //ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <div>
                    <h1>@ViewBag.Title.</h1>
                </div>
                <div>
                    <h2>@ViewBag.Message</h2>
                </div>
            </hgroup>
        </div>
    </section>
}

@Html.Partial("_SurveySummaryList", Model)